@model TruckPortal.Models.TruckViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TruckViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ModelId" class="control-label"></label>
                <select asp-for="ModelId"
                        class="form-control"
                        asp-items="@ViewBag.ModelList"></select>
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="DeliveryYear" class="control-label"></label>
                <input asp-for="DeliveryYear" class="form-control" />
                <span asp-validation-for="DeliveryYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label"></label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
